<!DOCTYPE html>
<html lang="en" ng-app="TestApp">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta content="telephone=no" name="format-detection"/>
  <style type="text/css">
    body {
      font-family: 'STHeiti', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    }
  </style>
</head>
<body ng-controller="MainCtrl">
<select nx-multi-level-select
        source="getDays" name="day"
        ng-model="form.day"
        empty="请选择周几"></select>

<select nx-multi-level-select
        source="getHours"
        name="hour"
        ng-model="form.hour"
        empty="请选择时间"
        dependents="day"></select>

<select nx-multi-level-select
        source="getCourses"
        name="course"
        ng-model="form.course"
        empty="请选择课程"
        dependents="day,hour"></select>

<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../dist/js/angular-multi-level-select.js"></script>
<script type="text/javascript">
  var TestModule = angular.module('TestApp', ['nx.widget'])
    .controller('MainCtrl', function ($scope) {
      var form = {};
      $scope.form = form;

      $scope.getDays = function () {
        var days = '一二三四五六日'.split('');
        days.forEach(function (item, index) {
          days[index] = {
            text: '星期' + item,
            value: '星期' + item
          };
        });
        return days;
      };

      $scope.getHours = function () {
        return [{
          text: '09:00-12:00',
          value: '1'
        }, {
          text: '14:00-17:00',
          value: '2'
        }];
      };

      var courses = {
        '星期一': {
          '1': [{
            value: '数学',
            text: '数学'
          }, {
            value: '精读',
            text: '精读'
          }],
          '2': [{
            value: '足球',
            text: '足球'
          }]
        },
        '星期二': {
          '1': [{
            value: '听力',
            text: '听力'
          }],
          '2': [{
            value: '数学',
            text: '数学'
          }]
        },
        '星期三': {
          '1': [{
            value: '计算机',
            text: '计算机'
          }],
          '2': [{
            value: '游泳',
            text: '游泳'
          }, {
            value: '古汉语',
            text: '古汉语'
          }]
        }
      };

      $scope.getCourses = function (values) {
        if (!values.day || !values.hour) {
          return [];
        }
        return courses[values.day][values.hour];
      };
    });
</script>
</body>
</html>
