<!doctype html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<!-- Info boxes -->
<div class="row" style="padding:2em" ng-app="TestApp">
  <h1>Welcome</h1>

  <div class="wrapper" ng-controller="MainCtrl as vm">
    <p>
      <label for="">省</label>
      <select nx-multi-level-select
              source="vm.province.source"
              name="{{vm.province.name}}"
              ng-model="vm.province.value"
              empty="vm.province.empty"></select>
    </p>

    <p>
      <label for="">市</label>
      <select nx-multi-level-select
              source="vm.city.source"
              name="{{vm.city.name}}"
              ng-model="vm.city.value"
              empty="vm.city.empty"
              dependents="vm.city.dependents"
      ></select>
    </p>

    <p>
      <label for="">区</label>
      <select nx-multi-level-select
              source="vm.area.source"
              name="{{vm.area.name}}"
              ng-model="vm.area.value"
              empty="vm.area.empty"
              dependents="vm.area.dependents"
      ></select>
    </p>
  </div>
</div>
<!-- /.row -->


<script type="text/javascript" src="/assets/libs/angular.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/assets/angular-multi-level-select-master/dist/js/angular-multi-level-select.js"></script>
<script type="text/javascript">
  angular.module('TestApp', ['nx.widget'])
    .controller('MainCtrl', function ($scope, $http) {
      var vm = window.vm = this;
      vm.province = {
        name: 'province',
        source: getProvinces,
        value: '-1',
        empty: {
          value: '-1',
          text: '请选择省'
        }
      };

      vm.city = {
        name: 'city',
        source: getCities,
        value: '-1',
        empty: {
          value: '-1',
          text: '请选择市'
        },
        dependents: ['province']
      };

      vm.area = {
        name: 'area',
        source: getAreas,
        value: '-1',
        empty: {
          value: '-1',
          text: '请选择区'
        },
        dependents: ['province','city']
      };

      function getProvinces() {
        return $http.get('/zhaoshang/shangjia/get_provinces_list', {
          transformResponse: function (data, headersGetter) {
            // not sure what to do here?!
            var parsed = JSON.parse(data);
            var provinces = parsed.data.provinces;
            var parsed_provinces = [];

            angular.forEach(provinces, function (item) {
              parsed_provinces.push({
                value: String(item.id),
                text: item.name
              })
            });
            return parsed_provinces;
          }
        });
      }

      function getCities() {
        if (vm.province.value !== vm.city.value) {
          return $http.get('/location/location/new_areas', {
            params: {
              id: vm.province.value
            },
            transformResponse: function (data, headersGetter) {
              // not sure what to do here?!
              var parsed = JSON.parse(data);
              var provinces = parsed.data;
              var parsed_provinces = [];

              angular.forEach(provinces, function (item) {
                parsed_provinces.push({
                  value: String(item.id),
                  text: item.name
                })
              });
              return parsed_provinces;
            }
          });
        } else {
          return [];
        }
      }

      function getAreas() {
        if (vm.city.value !== vm.area.value) {
          return $http.get('/location/location/new_areas', {
            params: {
              id: vm.city.value
            },
            transformResponse: function (data, headersGetter) {
              // not sure what to do here?!
              var parsed = JSON.parse(data);
              console.log(parsed);
              var provinces = parsed.data;
              var parsed_provinces = [];

              angular.forEach(provinces, function (item) {
                parsed_provinces.push({
                  value: String(item.id),
                  text: item.name
                })
              });
              console.log(parsed_provinces);
              return parsed_provinces;
            }
          });
        } else {
          return [];
        }
      }
    });
</script>



</body>
</html>
