<!DOCTYPE html>
<html lang="en" ng-app="TestApp">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta content="telephone=no" name="format-detection"/>
  <style type="text/css">
    body {
      font-family: 'STHeiti', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    }
  </style>
</head>
<body ng-controller="MainCtrl">
<select nx-multi-level-select
        source="getProvinces"
        name="province"
        ng-model="form.province"
        empty="请选择省"></select>

<select nx-multi-level-select
        source="getCities"
        name="city"
        ng-model="form.city"
        empty="请选择市"
        dependents="province"></select>

<select nx-multi-level-select
        source="getAreas"
        name="area"
        ng-model="form.area"
        empty="请选择区"
        dependents="province,city"></select>

<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../dist/js/angular-multi-level-select.js"></script>
<script type="text/javascript">
  var TestModule = angular.module('TestApp', ['nx.widget'])
    .controller('MainCtrl', function ($http,$scope) {
      var form = {
        province:'',
        city:'',
        area:''
      };
      $scope.form = form;

      $scope.getProvinces=function(){
        return $http.get('./data/province.json')
      };

      $scope.getCities=function(){
        return $http.get('http://test-jianguo.cms.zaijiadd.com/zhaoshang/shangjia/new_areas/'+form.province)
      };

      $scope.getAreas=function(){
        return $http.get('http://test-jianguo.cms.zaijiadd.com/zhaoshang/shangjia/new_areas/'+form.city)
      };
    });
</script>
</body>
</html>
